/* Margin Variables*/
/* Padding Variables*/
/* Float's*/
/* Text Aligment's*/
/* Text Decoration*/
/* Display */
/* Vertical Align */
/* Position  */
/* visibility  */
/* Opacity */
/* List Style none */
/* Font Weight*/
/* Font Style*/
/* Cursor*/
/* Text Transform*/
/*Line Height*/
/*Width*/
/*Height*/
/*Border Zero*/
/*letter spacing Zero*/
/*Font Size's*/
/*Over flow*/
/*white space*/
/* Brand Color's */
@import "../components/slick-slider.css";
@import "../components/slick-them.css";
:root {
  --light-yallow:#f3890614;
  --white:#fff;
  --black:#000;
  --yallow:#f38906;
  --box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.05);
  --box-shadow-2:rgba(204, 206, 221, 1);
  --blue: #ff5e14;
  --indigo: #053c32;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow-darck: #ffc107;
  --green: #28a745;
  --teal: #242e6f;
  --cyan: #A7721C;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #9099a9;
  --primary: #6e759f;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #f7a601;
  --danger: #dc3545;
  --light: #f6f8fb;
  --dark: #343a40;
  --light-bg:#f9f9f9;
  --background: #0000009C;
  --bluen-2:#5137ee;
  --cram:#f5f3fe;
  --sky:#1975ff;
}

/*Fonts family Roboto*/
/*Fonts family Rupee */
/*Fonts family Lato */
body {
  font-size: 14px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  color: #666;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

.containar {
  width: 1280px;
  margin: auto;
}

.header-top {
  background-color: var(--white);
  padding: 16px 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}
.header-top.fixed-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header-top.fixed-header .header .logo {
  width: 15%;
}
.header-top.fixed-header .header .logo .main-logo {
  width: 100%;
  display: none;
}
.header-top.fixed-header .header .logo .white {
  display: block;
  width: 100%;
}
.header-top.fixed-header .header .menu ul li a {
  color: var(--white);
  font-size: 22px;
}
.header-top.fixed-header .header .menu ul li ul {
  -webkit-box-sizing: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-sizing: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.header-top.fixed-header .header .menu ul li ul li a {
  color: var(--black);
}
.header-top .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-top .header .logo {
  width: 15%;
}
.header-top .header .logo .main-logo {
  width: 100%;
  display: block;
}
.header-top .header .logo .white {
  display: none;
  width: 100%;
}
.header-top .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-top .header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top .header .menu ul li {
  margin: 0 0 0 50px;
  position: relative;
}
.header-top .header .menu ul li:hover ul {
  display: block;
}
.header-top .header .menu ul li a {
  font-size: 22px;
  color: var(--black);
  font-weight: 500;
}
.header-top .header .menu ul li a:hover {
  color: var(--warning);
}
.header-top .header .menu ul li ul {
  position: absolute;
  right: 5px;
  top: 72px;
  width: 220px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  z-index: 999;
}
.header-top .header .menu ul li ul li {
  text-align: left;
  margin: 10px;
}
.header-top .header .menu ul li ul li a {
  display: block;
  padding: 10px 12px;
  font-size: 22px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.header-top .header .menu .manu-icon {
  margin-left: 20px;
}
.header-top .header .menu .manu-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top .header .menu .manu-icon ul li {
  background-color: var(--warning);
  height: 40px;
  width: 40px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 100px;
}
.header-top .header .menu .manu-icon ul li a img {
  width: 100%;
  margin: auto;
}
.header-top .header .menu .manu-icon ul li:hover {
  background-color: #a7721c;
}
.header-top .header .menu .manu-icon ul li:last-child {
  background-color: var(--white);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.header-top .header .menu .manu-icon ul li:last-child:hover {
  background-color: var(--warning);
}

.footer {
  background-image: url(../img/blog.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
}
.footer .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 70vh;
}
.footer .overlay .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0;
}
.footer .overlay .footer-text .magna {
  width: 25%;
  margin-right: 10px;
}
.footer .overlay .footer-text .magna .logo {
  width: 50%;
  color: var(--white);
}
.footer .overlay .footer-text .magna .logo img {
  width: 100%;
}
.footer .overlay .footer-text .magna p {
  color: var(--white);
  font-size: 20px;
  line-height: 30px;
  padding: 10px 0;
}
.footer .overlay .footer-text .magna ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .overlay .footer-text .magna ul li {
  background-color: #a7721c;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  padding: 10px;
}
.footer .overlay .footer-text .magna ul li:hover {
  background-color: var(--warning);
}
.footer .overlay .footer-text .magna ul li:nth-child(2) {
  margin: 0 20px;
}
.footer .overlay .footer-text .address {
  width: 25%;
  margin-left: 10px;
}
.footer .overlay .footer-text .address h3 {
  font-size: 30px;
  color: var(--white);
}
.footer .overlay .footer-text .address ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .overlay .footer-text .address ul li img {
  width: 30px;
}
.footer .overlay .footer-text .address ul li p {
  color: var(--white);
  font-size: 20px;
  line-height: 27px;
  padding-left: 10px;
}
.footer .overlay .footer-text .recent {
  width: 25%;
  margin-left: 20px;
}
.footer .overlay .footer-text .recent h3 {
  font-size: 30px;
  color: var(--white);
}
.footer .overlay .footer-text .recent ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .overlay .footer-text .recent ul li img {
  width: 100px;
  border-radius: 4px;
}
.footer .overlay .footer-text .recent ul li a {
  color: var(--white);
}
.footer .overlay .footer-text .recent ul li a p {
  font-size: 20px;
  padding-left: 10px;
}
.footer .overlay .footer-text .recent ul li a:hover {
  color: var(--warning);
}
.footer .overlay .footer-text .recent ul li span {
  font-size: 16px;
  color: var(--white);
  padding: 10px;
  display: block;
}
.footer .overlay .footer-text .working {
  width: 25%;
  padding-left: 20px;
  color: var(--black);
}
.footer .overlay .footer-text .working h3 {
  font-size: 30px;
  color: var(--white);
}
.footer .overlay .footer-text .working ul {
  padding: 10px;
}
.footer .overlay .footer-text .working ul li {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .overlay .footer-text .working ul li p {
  font-size: 18px;
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .containar {
    width: 100%;
    padding: 0 15px;
  }
  .header-top .header .logo {
    width: 40%;
  }
  .header-top .header .menu ul {
    display: none;
  }
  .footer {
    height: 100vh;
  }
  .footer .overlay {
    height: 100vh;
  }
  .footer .overlay .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .overlay .footer-text .magna {
    width: 100%;
    margin: 10px 0;
  }
  .footer .overlay .footer-text .address {
    width: 100%;
    margin: 10px 0;
  }
  .footer .overlay .footer-text .recent {
    width: 100%;
    margin: 10px 0;
  }
  .footer .overlay .footer-text .recent ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .overlay .footer-text .recent ul li img {
    width: 100%;
  }
  .footer .overlay .footer-text .recent ul li .business a {
    color: var(--warning);
  }
  .footer .overlay .footer-text .recent ul li .business a p {
    color: var(--warning);
  }
  .footer .overlay .footer-text .working {
    width: 100%;
    margin: 10px 0;
  }
}
.main-slider {
  overflow: hidden;
}
.main-slider .slider {
  width: 100%;
  position: relative;
  height: 100vh;
}
.main-slider .slider img {
  width: 100%;
  height: 100vh;
}
.main-slider .slider .slider-text {
  position: absolute;
  top: 28%;
  width: 40%;
}
.main-slider .slider .slider-text h1 {
  font-size: 70px;
  color: var(--indigo);
}
.main-slider .slider .slider-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}
.main-slider .slider .slider-text ul li {
  width: 32%;
  margin-right: 40px;
}
.main-slider .slider .slider-text ul li a {
  font-size: 18px;
  color: var(--black);
  padding: 20px 0;
  background-color: var(--white);
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 500;
  -webkit-transition: 0.3;
  transition: 0.3;
}
.main-slider .slider .slider-text ul li a:hover {
  color: #FFF;
}
.main-slider .slider .slider-text ul li a::before {
  content: "";
  width: 100%;
  height: 0;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-slider .slider .slider-text ul li a:hover::before {
  height: 100%;
}
.main-slider .slider .slider-text ul li:last-child a {
  background-color: var(--warning);
  color: var(--white);
}
.main-slider .slider .slider-text ul li:last-child a:hover {
  color: #ffffff;
}
.main-slider .slider .slider-text ul li:last-child a::before {
  content: "";
  width: 0;
  height: 100%;
  background: var(--cyan);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-slider .slider .slider-text ul li:last-child a:hover::before {
  width: 100%;
}

.tempor {
  padding: 100px 0;
}
.tempor .berry-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tempor .berry-card ul li {
  width: 25%;
  background-color: var(--white);
  text-align: center;
  margin: 10px 15px;
  border-bottom: 6px solid transparent;
  display: block;
  padding: 40px 0;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.tempor .berry-card ul li:hover {
  border-bottom: 6px solid #F7A601;
}
.tempor .berry-card ul li .berry {
  width: 80px;
  margin: 20px auto;
}
.tempor .berry-card ul li .berry img {
  width: 100%;
}
.tempor .berry-card ul li a h2 {
  font-size: 22px;
  padding: 10px 0 0 0;
  color: #05313c;
  font-weight: 700;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.tempor .berry-card ul li a h2:hover {
  color: var(--warning);
}
.tempor .berry-card ul li p {
  font-size: 18px;
  line-height: 30px;
  color: var(--gray);
  padding: 8px 40px 20px;
}

.coffee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 30px 0 100px;
}
.coffee .coffee-img {
  width: 45%;
}
.coffee .coffee-img img {
  width: 100%;
}
.coffee .coffee-text {
  margin-left: 60px;
  width: 55%;
}
.coffee .coffee-text span {
  font-size: 24px;
  display: inline-block;
  color: var(--warning);
  margin-bottom: 15px;
  font-family: "Damion";
  display: block;
}
.coffee .coffee-text h2 {
  font-size: 40px;
  width: 70%;
  font-weight: 700;
  color: var(--indigo);
}
.coffee .coffee-text h3 {
  margin-top: 10px;
  padding: 25px 0px 0px 0px;
  color: var(--cyan);
  font-weight: 700;
  font-size: 26px;
}
.coffee .coffee-text p {
  padding: 30px 0;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
}
.coffee .coffee-text .about-btan {
  margin: 30px 0 0;
}
.coffee .coffee-text .about-btan a {
  background-color: var(--warning);
  padding: 20px 0;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  color: var(--white);
  font-size: 18px;
  text-align: center;
  width: 30%;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  z-index: 2;
  position: relative;
}
.coffee .coffee-text .about-btan a:hover {
  color: #FFF;
}
.coffee .coffee-text .about-btan a::before {
  content: "";
  width: 100%;
  height: 0;
  background: var(--cyan);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.coffee .coffee-text .about-btan a:hover::before {
  height: 100%;
}

.Portfolio {
  background-color: #f9f9f9;
  padding: 100px 0 50px;
  text-align: center;
}
.Portfolio span {
  font-size: 24px;
  display: inline-block;
  color: var(--warning);
  margin-bottom: 15px;
  font-family: "Damion";
  font-weight: 500;
}
.Portfolio h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  color: var(--indigo);
  width: 50%;
  margin: auto;
}
.Portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}
.Portfolio ul li {
  margin: 0 5px;
  width: 25%;
  position: relative;
}
.Portfolio ul li .overlay:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.Portfolio ul li img {
  width: 100%;
}
.Portfolio ul li .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: left;
  position: absolute;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  width: 100%;
  height: 99%;
  left: 0;
  top: 0;
  opacity: 0;
}
.Portfolio ul li .overlay > .arrow a {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: var(--white);
  margin-bottom: 80px;
}
.Portfolio ul li .overlay > .arrow a img {
  width: 80px;
  height: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
  background-color: var(--white);
  padding: 20px;
}
.Portfolio ul li .overlay > .arrow a img:hover {
  background-color: #a7721c;
}
.Portfolio ul li .overlay > a {
  color: var(--white);
  width: 100%;
}
.Portfolio ul li .overlay > a h3 {
  font-size: 26px;
  padding: 40px 0 0px;
  margin-top: 60px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.Portfolio ul li .overlay > a:hover {
  color: var(--warning);
}
.Portfolio ul li .overlay p {
  font-size: 20px;
  color: var(--white);
}

.recipes {
  padding: 100px 0;
  text-align: center;
}
.recipes span {
  font-size: 24px;
  display: inline-block;
  color: var(--warning);
  margin-bottom: 15px;
  font-family: "Damion";
  font-weight: 500;
}
.recipes h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  color: var(--indigo);
  width: 50%;
  margin: auto;
}
.recipes ul {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recipes ul li {
  width: 25%;
  margin: 10px 0px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.recipes ul li .egg {
  padding: 10px 10px 0;
}
.recipes ul li .egg img {
  width: 100%;
  display: block;
}
.recipes ul li a {
  color: var(--black);
}
.recipes ul li a h3 {
  font-size: 24px;
  padding: 20px 0 10px;
}
.recipes ul li a:hover {
  color: #f7a601;
}
.recipes ul li p {
  color: #f7a601;
  font-size: 22px;
  font-weight: 600;
}
.recipes ul li .icon {
  position: absolute;
  top: 50%;
  right: 25%;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  display: none;
}
.recipes ul li .icon:hover li {
  display: block;
}
.recipes ul li .icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipes ul li .icon ul li {
  width: 40px;
  margin: 0 5px;
  height: 40px;
  padding: 14px 10px;
  border-radius: 100px;
  background-color: var(--white);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.recipes ul li .icon ul li a .black {
  display: block;
  width: 80%;
  margin: auto;
}
.recipes ul li .icon ul li a .white {
  display: none;
  width: 80%;
  margin: auto;
}
.recipes ul li .icon ul li:hover {
  background-color: #f7a601;
}
.recipes ul li .icon ul li:hover a .black {
  display: none;
}
.recipes ul li .icon ul li:hover a .white {
  display: block;
}
.recipes ul li:hover .icon {
  display: block;
}

.shops-card {
  padding: 20px 0 100px;
}
.shops-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shops-card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  width: 25%;
}
.shops-card ul li .shops {
  width: 80px;
}
.shops-card ul li .shops img {
  width: 100%;
}
.shops-card ul li .shops-text {
  padding-left: 20px;
  font-size: 36px;
  color: var(--warning);
}
.shops-card ul li .shops-text h3 {
  font-size: 24px;
  color: #05313c;
}

.fruit {
  background-color: #f9f9f9;
  padding: 100px 0;
}
.fruit .feature {
  padding: 20px 0;
  text-align: center;
}
.fruit .feature span {
  font-size: 24px;
  display: inline-block;
  color: var(--warning);
  margin-bottom: 15px;
  font-family: "Damion";
  font-weight: 500;
}
.fruit .feature h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  color: var(--indigo);
  width: 50%;
  margin: auto;
}
.fruit .feature .best {
  padding: 30px 0;
}
.fruit .feature .best .best-card {
  padding: 20px 0;
}
.fruit .feature .best .best-card ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fruit .feature .best .best-card ul li {
  width: 33%;
  margin: 0 10px;
  background-color: var(--white);
}
.fruit .feature .best .best-card ul li img {
  width: 100%;
}
.fruit .feature .best .best-card ul li .bast-text {
  padding: 30px 40px;
  text-align: center;
}
.fruit .feature .best .best-card ul li .bast-text a h3 {
  color: var(--indigo);
  padding: 10px 0;
  font-size: 24px;
}
.fruit .feature .best .best-card ul li .bast-text a h3:hover {
  color: var(--warning);
}
.fruit .feature .best .best-card ul li .bast-text p {
  font-size: 20px;
  color: var(--gray);
  line-height: 30px;
}
.fruit .feature .best .best-card ul li .bast-text .line {
  height: 1px;
  width: 100%;
  margin-top: 20px;
  background-color: #999;
}
.fruit .feature .best .best-card ul li .bast-text .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.fruit .feature .best .best-card ul li .bast-text .food .cack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fruit .feature .best .best-card ul li .bast-text .food .cack img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.fruit .feature .best .best-card ul li .bast-text .food .cack h4 {
  font-size: 20px;
  padding-left: 15px;
  color: var(--indigo);
}

.company {
  background: url(../img/work1.jpg) no-repeat;
  background-size: cover;
  margin: 20px 0 40px;
  width: 100%;
  background-attachment: fixed;
  padding: 200px 0;
}
.company .brand {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px 0;
  text-align: center;
}
.company .brand span {
  font-size: 24px;
  display: inline-block;
  color: var(--warning);
  margin-bottom: 10px;
  font-family: "Damion";
  font-weight: 500;
  padding-top: 20px;
}
.company .brand h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  color: var(--white);
  width: 50%;
  margin: auto;
}
.company .brand ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}
.company .brand ul li {
  width: 25%;
  padding: auto;
  margin: 0 20px;
}
.company .brand ul li a img {
  width: 50%;
}
.company .brand .company-btn {
  width: 20%;
  margin: 0 auto 20px;
}
.company .brand .company-btn a {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  margin: 20px auto;
  border: 1px solid var(--white);
  padding: 15px;
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 500;
}
.company .brand .company-btn a:hover {
  color: #FFF;
  border: 1px solid var(--warning);
}
.company .brand .company-btn a::before {
  content: "";
  width: 100%;
  height: 0;
  background: var(--warning);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.company .brand .company-btn a:hover::before {
  height: 100%;
}

.testimonial {
  text-align: center;
  padding: 60px 0;
}
.testimonial span {
  font-size: 24px;
  display: inline-block;
  color: var(--warning);
  margin-bottom: 10px;
  font-family: "Damion";
  font-weight: 500;
  padding-top: 20px;
}
.testimonial h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  color: var(--indigo);
  margin: auto;
}
.testimonial ul {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial ul li {
  width: 50%;
  text-align: center;
  margin: 10px 20px;
}
.testimonial ul li p {
  background-color: var(--white);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  line-height: 36px;
  padding: 50px;
  margin-bottom: 30px;
  color: var(--gray);
  font-size: 20px;
  border-radius: 5px;
}
.testimonial ul li img {
  width: 70px;
  border-radius: 200px;
  height: 70px;
  margin: auto;
}
.testimonial ul li h3 {
  font-size: 24px;
  color: var(--indigo);
  padding: 10px 0 5px;
}
.testimonial ul li span {
  font-size: 18px;
  color: var(--gray);
  font-family: "Dosis", sans-serif;
  padding: 0;
}

.stay {
  background-color: #f9f9f9;
}
.stay .latest {
  padding: 100px 0;
  text-align: center;
}
.stay .latest span {
  font-size: 24px;
  display: inline-block;
  color: var(--warning);
  margin-bottom: 10px;
  font-family: "Damion";
  font-weight: 500;
  padding-top: 20px;
}
.stay .latest h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  color: var(--indigo);
  margin: auto;
}
.stay .latest ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 0;
}
.stay .latest ul li {
  width: 33%;
  margin: 0 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background-color: var(--white);
  overflow: hidden;
  -webkit-transition: 0.99;
  transition: 0.99;
}
.stay .latest ul li .the {
  display: block;
  -webkit-transition: 0.99;
  transition: 0.99;
}
.stay .latest ul li .the img {
  width: 100%;
  overflow: hidden;
  height: 300px;
  -webkit-transition: 0.99;
  transition: 0.99;
}
.stay .latest ul li .latest-text {
  padding: 20px 30px;
  text-align: left;
}
.stay .latest ul li .latest-text .our {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 10px 0;
}
.stay .latest ul li .latest-text .our .poket {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stay .latest ul li .latest-text .our .poket a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stay .latest ul li .latest-text .our .poket a img {
  width: 20px;
}
.stay .latest ul li .latest-text .our .poket a h4 {
  font-size: 18px;
  color: var(--gray);
  font-weight: 400;
  padding-left: 10px;
}
.stay .latest ul li .latest-text .our .poket h4 {
  font-size: 18px;
  color: var(--gray);
  font-weight: 400;
  padding-left: 10px;
}
.stay .latest ul li a {
  color: var(--indigo);
}
.stay .latest ul li a h3 {
  font-size: 26px;
}
.stay .latest ul li a:hover {
  color: var(--warning);
}
.stay .latest ul li p {
  font-size: 20px;
  color: var(--gray);
  line-height: 30px;
  padding: 12px 0;
}
.stay .latest ul li .read a {
  color: var(--warning);
  font-size: 18px;
  font-weight: 600;
}
.stay .latest ul li .read a:hover {
  color: #a7721c;
}
.stay .latest ul li:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  overflow: hidden;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}
.contact .left {
  width: 50%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  padding: 80px 50px 60px;
}
.contact .left span {
  font-size: 24px;
  display: inline-block;
  color: var(--warning);
  font-family: "Damion";
  font-weight: 500;
  padding-top: 20px;
}
.contact .left h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  color: var(--indigo);
  margin: auto;
}
.contact .left ul {
  padding: 30px 0;
}
.contact .left ul > li {
  width: 100%;
  margin: 30px 0;
  border: 1px solid var(--gray);
}
.contact .left ul > li input {
  width: 100%;
  padding: 20px 15px;
  outline: none;
  font-size: 16px;
  border: none;
}
.contact .left ul > li:last-child {
  height: 120px;
}
.contact .left .left-bnt {
  padding: 20px 0;
}
.contact .left .left-bnt a {
  background-color: var(--warning);
  color: var(--white);
  padding: 18px 50px;
  font-size: 18px;
  font-weight: 600;
}
.contact .left .left-bnt a:hover {
  background-color: #a7721c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact .right {
  width: 50%;
  margin-left: 40px;
}
.contact .right iframe {
  width: 100%;
  height: 900px;
}

@media screen and (max-width: 767px) {
  .containar {
    width: 100%;
    padding: 0 15px;
  }
  .main-slider .slider img {
    width: 100%;
  }
  .main-slider .slider .slider-text {
    width: 80%;
  }
  .main-slider .slider .slider-text h1 {
    font-size: 30px;
  }
  .main-slider .slider .slider-text ul li {
    width: 50%;
  }
  .tempor .berry-card ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tempor .berry-card ul li {
    width: 100%;
    margin: 10px 0;
  }
  .tempor .berry-card ul li a h2 {
    font-size: 16x;
  }
  .coffee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coffee .coffee-img {
    width: 100%;
  }
  .coffee .coffee-text {
    width: 100%;
    margin: 20px 0;
  }
  .coffee .coffee-text span {
    font-size: 18px;
    font-family: "Damion";
  }
  .coffee .coffee-text h2 {
    font-size: 22px;
    padding: 0px;
  }
  .coffee .coffee-text h3 {
    font-size: 18px;
    padding: 10px 0;
  }
  .coffee .coffee-text p {
    padding: 10px 0;
    font-size: 16px;
  }
  .coffee .coffee-text .about-btan a {
    width: 50%;
  }
  .Portfolio span {
    font-size: 18px;
  }
  .Portfolio h2 {
    font-size: 20px;
    width: 100%;
    line-height: 40px;
  }
  .Portfolio ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Portfolio ul li {
    margin: 10px 0;
    width: 100%;
  }
  .Portfolio ul li .overlay {
    height: 100%;
  }
  .recipes span {
    font-size: 18px;
  }
  .recipes h2 {
    font-size: 20px;
    width: 100%;
    line-height: 40px;
  }
  .recipes ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .recipes ul li a h3 {
    font-size: 18px;
  }
  .shops-card ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shops-card ul li {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 20px 0;
  }
  .fruit .feature span {
    font-size: 18px;
  }
  .fruit .feature h2 {
    font-size: 20px;
    width: 100%;
    line-height: 40px;
  }
  .fruit .feature .best .best-card ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    margin: -15px;
  }
  .fruit .feature .best .best-card ul .best-slider li {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
  }
  .company .brand span {
    font-size: 18px;
  }
  .company .brand h2 {
    font-size: 20px;
    width: 100%;
    line-height: 40px;
  }
  .company .brand ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .company .brand ul li {
    margin: 10px 0;
    width: 50%;
  }
  .company .brand .company-btn {
    width: 60%;
  }
  .testimonial span {
    font-size: 18px;
  }
  .testimonial h2 {
    font-size: 20px;
    width: 100%;
    line-height: 40px;
  }
  .testimonial ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial ul li {
    width: 100%;
  }
  .stay .latest span {
    font-size: 18px;
  }
  .stay .latest h2 {
    font-size: 20px;
    width: 100%;
    line-height: 40px;
  }
  .stay .latest ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stay .latest ul li {
    width: 100%;
    margin: 15px 0;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .left {
    width: 100%;
  }
  .contact .left span {
    font-size: 18px;
  }
  .contact .left h2 {
    font-size: 20px;
    width: 100%;
    line-height: 40px;
  }
  .contact .right {
    width: 100%;
    margin: 20px 0;
  }
}